<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mindgarden">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
            android:name="your.application.package.name.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />

    <application
            android:name=".Network.ApplicationController"
            android:allowBackup="true"
            android:icon="@drawable/mindgarden_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:usesCleartextTraffic="true">
        <activity android:name=".Activity.SocialLoginActivity">
        </activity>
        <activity
                android:name=".Activity.MainCalendarActivity"
                android:theme="@style/Theme.MyPopUpWindow">
        </activity>
        <activity android:name=".Activity.ModifyDiaryActivity">
        </activity>

        <activity
                android:name=".Activity.MoodChoiceActivity"
                android:theme="@style/Theme.MyPopUpWindow">
        </activity>
        <activity android:name=".Activity.ReadDiaryActivity">
        </activity>
        <activity android:name=".Activity.WriteDiaryActivity">
        </activity>
        <activity android:name=".Activity.MainActivity">
        </activity>
        <activity android:name=".Activity.InventoryActivity">
        </activity>
        <activity android:name=".Activity.FontSettingActivity">
        </activity>
        <activity android:name=".Activity.PasswordActivity">
        </activity>
        <activity android:name=".Activity.PasswordSettingActivity">
        </activity>
        <activity android:name=".Activity.PremiumActivity">
        </activity>
        <activity android:name=".Activity.AlarmSettingActivity">
        </activity>
        <activity android:name=".Activity.MypageActivity">
        </activity>
        <activity android:name=".Activity.LoginActivity">
        </activity>
        <activity
                android:name=".Activity.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <receiver android:name=".Service.BroadcastD"/>
    </application>

</manifest>