<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mindgarden">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <permission
            android:name="your.application.package.name.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />

    <application
            android:name=".MindgardenApplication"
            android:allowBackup="true"
            android:icon="@drawable/mindgarden_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:usesCleartextTraffic="true">
        <activity android:name=".ui.login.EmailPasswordActivity"></activity>
        <activity android:name=".ui.login.TermsOfUseActivity" />
        <activity android:name=".ui.login.PrivacyStatementActivity" />
        <activity android:name=".ui.login.EmailSignUpActivity" />
        <activity android:name=".ui.login.EmailSignInActivity" />
        <activity android:name=".ui.login.WebviewLoginActivity"></activity>
        <activity
                android:name=".ui.main.MainCalendarActivity"
                android:theme="@style/Theme.MyPopUpWindow"></activity>
        <activity android:name=".ui.diary.ModifyDiaryActivity"></activity>
        <activity
                android:name=".ui.diary.MoodActivity"
                android:theme="@style/Theme.MyPopUpWindow"></activity>
        <activity android:name=".ui.diary.ReadDiaryActivity"></activity>
        <activity android:name=".ui.main.MainActivity"></activity>
        <activity android:name=".ui.inventory.InventoryActivity"></activity>
        <activity android:name=".ui.password.PasswordActivity"></activity>
        <activity android:name=".ui.password.PasswordSettingActivity"></activity>
        <activity android:name=".ui.alarm.AlarmSettingActivity"></activity>
        <activity android:name=".ui.mypage.MypageActivity"></activity>
        <activity android:name=".ui.login.LoginActivity"></activity>
        <activity
                android:name=".ui.splash.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".broadcastReceiver.BroadcastD"/>

    </application>

</manifest>